.board{
    width: 94%;
    margin-left: 3%;
}


.home-link{
    text-decoration: none;
    color: white;
}

.home{
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.home:hover{
    color: #888888;
}


.menu{
    color: white;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.menu:hover{
    color: #888888;
}

ul li{
    text-decoration: none;
    list-style: none;
}

.menu-item{
    margin: 5px;
    text-align: center;
    color: black;
}
