
@media(min-width:1248px){
    .top{
        top: 1;
        position: fixed;
        text-align: center;
    }
    .right{
        right: 0;
    }
    .left{
        left: 0;
        float: right;
        font: bold;
    }
}



.text-center{
    text-align: center;
}

li {
    list-style: none;
    margin: 0;
    margin-bottom:  10px;
    padding: 0;
    font: bold;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

.line-through{
    text-decoration: line-through;
}
.center{
    text-align: center;
}

.hide{
    width: 100px;
}