.drag{
    border: 1px solid black;
    cursor: pointer;
    margin: 3px;
    text-align: center;
}

.glyphicon {
 float: left;
 margin: 3px;
}


.glyphicon-eye-open{
    color: green;
}

.glyphicon-eye-close{
    color: grey;
}

.missing{
    color: black;
}