.bordered{
    border: 2px solid gray;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 20px #888888;
}

.scenario-button{
    margin: 20px;
}


.scenario{
    margin-top: 50px;
}

.scenario-back{
    margin-top: 10px;
}

.glyphicon {
    font-size: 30px;
    margin: 0;
    padding:0;
    text-align: center;
    cursor: pointer;
}

.glyphicon:hover{
   color: #888888;
}

.scenario-header{
    font-size: 30px;
    margin-top: 10px;
}