.bordered{
    border: 2px solid gray;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 20px #888888;
}

.center{
    height: 65vh;
    overflow: auto;
    text-align: center;
}

.scenario-button{
    margin: 20px;
}


.build{
    border-right: 1px solid #888888;
    margin: -1px;
    margin-bottom: 10px;
}

.selected {
    width: 50%;
    border-left: 1px solid #888888;
    margin-bottom: 10px;
}


.build-list{
    min-height: 30px;
    border: 1px solid grey;
    padding-bottom: 10px;
    background: #EEEEEE;
}

.build-list-element{
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid black;
    cursor: pointer; 
    text-align: center;
    background: white;
}

.scenario{
    margin-top: 50px;
}

.scenario-back{
    margin-top: 10px;
    text-align: left;
}

.glyphicon {
    font-size: 30px;
    margin: 0;
    padding:0;
    text-align: center;
    cursor: pointer;
}

.glyphicon:hover{
   color: #888888;
}

.scenario-header{
    font-size: 30px;
    margin-top: 10px;
    border:2px solid black;
    border-bottom: none;
}


.scenario-tab{
    border: solid 0.5px black;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size:16px;
}

.scenario-tab-active{
    background: #DDDDDD;
}

.scenario-tab:hover{
    background: #DDDDDD;
}


.hr{
    border-bottom: 1px solid #888888;
}


hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}


.hideComponent{
    margin-top: 10px;
}

.center{
    text-align: center;
}

.custom-group{
    width: 60%;
    text-align: center;
    margin-left: 25%;
}

select {
    display: block;
    margin: 0 auto;
    float: none;
}

.disabled {
    color: #888888;
}

.top{
    top: 1;
    position: absolute;
    text-align: center;
}

.right{
    right: 0.15%;
}


span.glyphicon-menu-right {
    font-size: 1em;
}

span.glyphicon-menu-left {
    font-size: 1em;
}