.bordered{
    border: 2px solid gray;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 20px #888888;
}

.center{
    text-align: center;
}

.scenario-button{
    margin: 20px;
}


.build{
    border-right: 1px solid #888888;
    margin-top: 5px;
    margin-bottom: 5px;
}


.build-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.build-list-element{
    font-size: 18px;
    margin-top: 10px;
}

.scenario{
    margin-top: 50px;
}

.scenario-back{
    margin-top: 10px;
    text-align: left;
}

.glyphicon {
    font-size: 30px;
    margin: 0;
    padding:0;
    text-align: center;
    cursor: pointer;
}

.glyphicon:hover{
   color: #888888;
}

.scenario-header{
    font-size: 30px;
    margin-top: 10px;
    border:2px solid black;
    border-bottom: none;
}


.scenario-tab{
    border: solid 0.5px black;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size:16px;
}

.scenario-tab-active{
    background: #DDDDDD;
}

.scenario-tab:hover{
    background: #DDDDDD;
}


.hr{
    border-bottom: 1px solid #888888;
}